* {
    box-sizing: border-box;
}

body {
    font-family: Inter;
    margin: 0;
}

.side_bar {
    background: #191919;
    left: 0;
    width: 280px;
    height: 1024px;
    text-align: center;
}

.logo {
    margin-top: 48px;
    margin-bottom: 40px;
}

.menu_item {
    display: flex;
    align-items: center;
    width: 224px;
    height: 48px;
    margin: 16px auto 0 auto;
}

.menu_item_icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    margin-left: 16px;
}

.menu_item p {
    color: rgba(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    opacity: 0.7;
}

.overview {
    margin-top: 0;
    background: rgb(79, 132, 234);
    width: 100%;
}

.overview img {
    margin-left: 44px;
}

.overview p {
    opacity: 1;
}

.account_menu {
    margin-top: 228px;
}

.logout {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.08);
    opacity: 0.75;
}

.logout_icon{
    opacity: 0.7;
    margin-top: 0;
    margin-left: 16px;
}

.profile {
    display: flex;
    align-items: center;
    margin: 44px auto 0 auto;
    width: 224px;
    padding: 32px 0 32px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.profile_img {
    border-radius: 50px;
    width: 32px;
    height: 32px;
}

.profile_text {
    text-align: left;
    margin-left: 16px;
    margin-right: 32px;
}

.profile_name {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
}

.view_profile {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}