<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FINEbank</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Frontend-Money-Manager/static/main.css">
    <script src="Frontend-Money-Manager/static/main.js"></script>
</head>
<body>
    <div class="side_bar">
        <img class="logo" src="Frontend-Money-Manager/media/iconsFINEbank.IO.svg">

        <div class="menu">
            <div class="menu_item overview" id="overview" onclick="addActiveClass('overview')">
                <img class="menu_item_icon overview_icon" src="Frontend-Money-Manager/media/icons/Overview.svg">
                <p>Overview</p>
            </div>
            <div class="menu_item balances" id="balances" onclick="addActiveClass('balances')">
                <img class="menu_item_icon balances_icon" src="Frontend-Money-Manager/media/icons/wallet.svg">
                <p>Balances</p>
            </div>
            <div class="menu_item transactions" id="transactions" onclick="addActiveClass('transactions')">
                <img class="menu_item_icon transactions_icon" src="Frontend-Money-Manager/media/icons/Transaction.svg">
                <p>Transactions</p>
            </div>
            <div class="menu_item bills" id="bills" onclick="addActiveClass('bills')">
                <img class="menu_item_icon bills_icon" src="Frontend-Money-Manager/media/icons/Bill.svg">
                <p>Bills</p>
            </div>
            <div class="menu_item expenses" id="expenses" onclick="addActiveClass('expenses')">
                <img class="menu_item_icon expenses_icon" src="Frontend-Money-Manager/media/icons/Expencces.svg">
                <p>Expenses</p>
            </div>
            <div class="menu_item goals" id="goals" onclick="addActiveClass('goals')">
                <img class="menu_item_icon goals_icon" src="Frontend-Money-Manager/media/icons/Goal.svg">
                <p>Goals</p>
            </div>
            <div class="menu_item settings" id="settings" onclick="addActiveClass('settings')">
                <img class="menu_item_icon settings_icon" src="Frontend-Money-Manager/media/icons/Settings.svg">
                <p>Settings</p>
            </div>
        </div>

        <div class="account_menu">
            <div class="menu_item logout">
                <img class="menu_item_icon logout_icon" src="Frontend-Money-Manager/media/icons/Logout.svg">
                <p>Logout</p>
            </div>
            <div class="profile">
                <img class="profile_img" src="Frontend-Money-Manager/media/img/profile_photo.jpeg">
                <div class="profile_text">
                    <p class="profile_name">Tanzir Rahman</p>
                    <a class="view_profile">View profile</a>
                </div>
                <div class="profile_more_icon_wrapper">
                    <img class="profile_more_icon" src="Frontend-Money-Manager/media/icons/More.svg">
                </div>
            </div>
        </div>
    </div>
</body>
</html>