<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FINEbank</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="center">
        <img src="../media/icons/FINEbank.IO.svg" alt="Logo">

        <form action="">
            <div class="input_group">
                <label>Email Address</label>
                <input type="email" name="email" placeholder="example@gmail.com">
            </div>
            <div class="input_group">
                <div class="input_header">
                    <label>Password</label>
                    <a href="reset.html">Forgot password?</a>
                </div>
                <div class="password_container">
                    <input type="password" id="password" name="password" placeholder="Your password">
                    <span class="toggle_password" onclick="togglePasswordVisibility()">
                        <i id="eyeIcon" class="fa-regular fa-eye"></i>
                    </span>
                </div>
            </div>

            <div class="full_width">
                <div class="checkbox_container">
                    <input type="checkbox" id="customCheckbox">
                    <label for="customCheckbox">Keep me signed in</label>
                </div>

                <button class="button" type="submit">Login</button>
            </div>

            <div class="divider">
                <span>or sign in with</span>
            </div>

            <button class="button btn-gray" type="submit">
                <img src="../media/icons/Google.svg" alt="Google" class="btn-with-icon">
                Continue with Google
            </button>           
            
            <div class="text-with-link">
                <a href="registration.html">Create an account</a>
            </div>
        </form>        
    </div>
    
    <script src="../static/password-eye.js"></script>
</body>
</html>