<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FINEbank</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="center">
        <img src="../media/icons/FINEbank.IO.svg" alt="Logo">

        <form action="">
            <div class="input_group">
                <label>Name</label>
                <input type="text" name="name" placeholder="Name Surname">
            </div>
            <div class="input_group">
                <label>Email Address</label>
                <input type="email" name="email" placeholder="example@gmail.com">
            </div>
            <div class="input_group">
                <label>Password</label>
                <div class="password_container">
                    <input type="password" id="password" name="password" placeholder="Your password">
                    <span class="toggle_password" onclick="togglePasswordVisibility()">
                        <i id="eyeIcon" class="fa-regular fa-eye"></i>
                    </span>
                </div>
            </div>

            <div class="full_width">
                <div class="text-with-link text-small">
                    <p>By continuing, you agree to out <a href="#" class="text-bold">terms of service</a></p>
                </div>

                <button class="button" type="submit">Sign up</button>
            </div>

            <div class="divider">
                <span>or sign up with</span>
            </div>

            <button class="button btn_gray" type="submit">
                <img src="../media/icons/Google.svg" alt="Google" class="btn-icon">
                Continue with Google
            </button>           
            
            <div class="text-with-link">
                <p>Already have an account? <a href="login.html" class="text-bold">Sign in here</a></p>
            </div>
        </form>        
    </div>
    
    <script src="../static/password-eye.js"></script>
</body>
</html>